.portfolio {
    margin: auto;
}

.title {
    margin-bottom: 70px;
    margin-top: 60px;
    text-align: center;

}

.title h2 {
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
}

.sub-title::before {
    content: "-";
    margin-right: 5px;
}

.sub-title::after {
    content: "-";
    margin-left: 5px;
}

.border-ttile {
    margin: auto;
    margin-top: 15px;
    border-bottom: red solid 3px;
    width: 7%;
}

.carousel .carousel-item:before {
    content: '';
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.carousel .carousel-item img {
    width: 100%;
}

.carousel .carousel-caption {
    left: 25%;
    right: 25%;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    bottom: 50%;
}
.carousel .carousel-caption h3{
    font-weight: bold;
}
.carousel p {
    margin: 0 0 30px;
}